name: YouTube Automation

on:
  schedule:
    - cron: "0 */4 * * *"  # every 4 hours
  workflow_dispatch:      # allows manual run

jobs:
  run-automation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Run script
        run: python main.py
